<form
  #formDirective="ngForm"
  [formGroup]="newLeaveTypeForm"
  (ngSubmit)="onSubmit(formDirective)"
  class="w-1/2 mx-auto mt-5"
>
  <div class="form-group flex flex-wrap mb-4">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label class="text-black">Name</mat-label>
      <input
        matInput
        name="name"
        placeholder="Enter name"
        formControlName="name"
        type="text"
        class="text-black"
      />
    </mat-form-field>
  </div>
  <div class="w-full form-group flex flex-wrap mb-4">
    <div class="w-full md:w-1/2 pr-2 mb-2 md:mb-0">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label class="text-black">Default No. Of Leaves</mat-label>
        <input
          matInput
          name="name"
          placeholder="Enter name"
          formControlName="defaultLeaveCount"
          type="number"
          min="0"
          class="text-black"
        />
      </mat-form-field>
    </div>
    <div class="w-full md:w-1/2">
      <app-option-toggle
        [control]="newLeaveTypeForm.controls.status"
        [options]="statuses"
      ></app-option-toggle>
    </div>
  </div>
  <button
    mat-raised-button
    color="primary"
    class="mt-3 w-full bg-blue-500 text-white py-2 rounded"
    type="submit"
  >
    Save
  </button>
</form>
