<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <app-calendar-day-cell [day]="day" [locale]="locale"></app-calendar-day-cell>
</ng-template>
<app-calendar-header
  [(view)]="view"
  [(viewDate)]="viewDate"
  (viewDateChange)="getEvents()"
  (viewChange)="getEvents()"
>
</app-calendar-header>
@switch (view) { @case (calendarView.Month){
<mwl-calendar-month-view
  [viewDate]="viewDate"
  [events]="calendarEvents"
  [activeDayIsOpen]="activeDayIsOpen"
  [weekendDays]="[6]"
  [cellTemplate]="customCellTemplate"
>
</mwl-calendar-month-view>
}@case (calendarView.Week){
<mwl-calendar-week-view [viewDate]="viewDate" [events]="calendarEvents">
</mwl-calendar-week-view>
}@case(calendarView.Day){
<mwl-calendar-day-view [viewDate]="viewDate" [events]="calendarEvents">
</mwl-calendar-day-view>
} }
