<div class="content-box p-4 bg-white rounded-lg">
  @if(loading){
  <div class="mb-4">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  }
  <form [formGroup]="searchForm" (ngSubmit)="getAllEventsSsr()">
    <div class="form-group flex flex-wrap">
      <div class="w-full md:w-1/2 pr-2">
        <mat-form-field appearance="outline" class="w-full">
          <input
            matInput
            name="searchTerm"
            placeholder="Search.."
            formControlName="searchTerm"
            type="text"
            class="text-black"
            (input)="onSearchTermChange()"
          />
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/2">
        <button
          mat-raised-button
          type="submit"
          class="bg-blue-500 text-white rounded p-3"
        >
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
  </form>
  <table
    mat-table
    class="w-full"
    [dataSource]="events"
    matSort
    (matSortChange)="onSortChange($event)"
  >
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef class="px-4 py-2">No.</th>
      <td mat-cell *matCellDef="let event; let i = index" class="px-4 py-2">
        {{ getRecordIndex(i) }}
      </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="cursor-pointer px-4 py-2"
      >
        Title
      </th>
      <td mat-cell *matCellDef="let event" class="px-4 py-2">
        {{ event.title }}
      </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="cursor-pointer px-4 py-2"
      >
        Description
      </th>
      <td mat-cell *matCellDef="let event" class="px-4 py-2">
        {{ event.description }}
      </td>
    </ng-container>
    <ng-container matColumnDef="startDate">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="cursor-pointer px-4 py-2"
      >
        Start Date
      </th>
      <td mat-cell *matCellDef="let event" class="px-4 py-2">
        {{ event.startDate | date : "EEE dd-MMM-yyyy" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="endDate">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="cursor-pointer px-4 py-2"
      >
        End Date
      </th>
      <td mat-cell *matCellDef="let event" class="px-4 py-2">
        {{ event.endDate | date : "EEE dd-MMM-yyyy" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="eventMode">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="cursor-pointer px-4 py-2"
      >
        Mode
      </th>
      <td mat-cell *matCellDef="let event" class="px-4 py-2">
        <app-event-mode-chip [event]="event"> </app-event-mode-chip>
      </td>
    </ng-container>
    <ng-container matColumnDef="eventStatus">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="cursor-pointer px-4 py-2"
      >
        Status
      </th>
      <td mat-cell *matCellDef="let event" class="px-4 py-2">
        <app-event-status-chip [event]="event"> </app-event-status-chip>
      </td>
    </ng-container>
    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef class="px-4 py-2">Options</th>
      <td mat-cell *matCellDef="let event" class="px-4 py-2">
        <a
          [routerLink]="'/dashboard/events/details/' + event.id"
          class="text-blue-500 hover:underline"
        >
          View
        </a>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div class="flex justify-end items-center mt-4">
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      [length]="totalRecords"
      [pageSize]="pageSize"
      (page)="onPageChange($event)"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
