<div class="content-box p-4 bg-white shadow-md rounded-lg m-4">
  <div
    mat-tab-nav-bar
    class="custom-tab flex justify-between items-center border-b border-gray-300 mb-4"
  >
    <a
      mat-tab-link
      class="nav-link inline-flex items-center p-2 text-gray-700 hover:text-blue-500 font-medium"
      routerLink="/dashboard/file-upload"
      routerLinkActive="active text-indigo-600"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon class="mr-1">cloud_upload</mat-icon>File Upload & Manager
    </a>
  </div>
  <router-outlet></router-outlet>
</div>
