<div class="container">
  <form
    [formGroup]="signInForm"
    (ngSubmit)="signIn()"
    class="mx-auto col-md-6 col-lg-5 offset-md-3 loginform-box"
  >
    <p class="text-center text-2xl mb-3">Sign In</p>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Enter your email"
          formControlName="email"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="col-sm-12">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Enter your password"
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </mat-form-field>
    </div>

    <button
      class="mt-4 w-100"
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="signInForm.invalid"
    >
      Sign in
    </button>
  </form>
</div>
