<div class="content-box p-4 bg-white shadow-md rounded-lg m-4">
  <div
    mat-tab-nav-bar
    class="custom-tab flex justify-between items-center border-b border-gray-300"
  >
    <a
      mat-tab-link
      class="nav-link inline-flex items-center p-2 text-gray-700 hover:text-blue-500"
      routerLink="/dashboard/leave-types/details"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>event_note</mat-icon>&nbsp;All Leave Types</a
    >
    <a
      mat-tab-link
      class="nav-link inline-flex items-center p-2 text-gray-700 hover:text-blue-500"
      routerLink="/dashboard/leave-types/new"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>add_circle</mat-icon>&nbsp;New Leave Type</a
    >
  </div>
  <router-outlet></router-outlet>
</div>
